.color-btn{
    height: 42px;
    border-radius: 50px;
    padding: 0 30px;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background:linear-gradient(45deg, #591998, #981e8d);
    border: none;
    transition: .5s all;
    &:hover {
        transform: translateY(3px);
    }
}