.article-page {
background: white;
font-family: 'Heebo', sans-serif;
margin-top: -101px;
    .article-page-header {
        height: 650px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: rgb(60, 60, 71);
        .article-page-header-content{
            color: white;
            text-align: center;
            position: relative;
            top: 280px;
            left: 50%;
            transform: translate(-50%, 0);
            max-width: 750px;
            .article-page-header-content-buttons {
                button{
                    text-transform: capitalize;
                    border: none;
                    border-radius: 50px;
                    padding: 3px 10px;
                    margin-right: 5px;
                    cursor: pointer;
                    font-family: 'Heebo', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    transition: .5s all;
                    >a{
                        text-decoration: none;
                        color: black;
                    }
                    &:hover {
                        opacity: 0.75;
                    }
                }
                
            }
            >p{
                font-family: 'Poppins', sans-serif;
                font-size: 40px;
                font-weight: 600;
            }
            .article-page-header-content-info {
                display: flex;
                justify-content: center;
                align-content: center;
                line-height: 40px;
                .header-content-info-autor {
                    display: flex;
                    .header-content-info-autor-avatar {
                        width: 40px;
                        height: 40px;
                        border-radius: 50px;
                        border: 1px solid white;
                        margin-right: 5px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            overflow: hidden;
                        }
                    }
                }
                >div{
                    margin-left: 5px;
                    margin-right: 5px;
                }
                >p{
                    line-height: 30px;
                }
            }
        }
    }
    .article-header-dark{
        position: absolute;
        height: 650px;
        width: 100%;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .article-page-main {
        margin-bottom: -100px;
        position: relative;
        top: -100px;
        background-color: white;
        border-radius: 10px;
        padding: 50px;
        line-height: 1.8;
        display: flex;
        align-items: flex-start;
        gap: 0px 70px;
        .sidebar-tablet {
            display: none;
        }
        .article-page-main-center {
            .article-page-main-center-text {
                position: relative;
                .nav-buttons {
                    position: sticky;
                    top: 400px;
                    left: 0px;
                    display: grid;
                    grid-template-columns: 45px;
                    grid-template-rows: repeat(4, 1fr);
                    margin-left: -95px;
                    .nav-button-item{
                        background-color: black;
                        color: white;
                        height: 45px;
                        
                        button{
                            height: 45px;
                            width: 45px;
                            background-color: black;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 50%;
                            cursor: pointer;
                        }
                        .nav-button-like{
                            background-image: url(../../assets/like-nav.png);
                        }
                        .nav-button-food{
                            background-image: url(../../assets/food-nav.png);
                            &:hover .nav-food-button-description{
                                display: block;
                            }
                        }
                        .nav-button-hotels{
                            background-image: url(../../assets/bed-nav.png);
                            &:hover .nav-hotels-button-description{
                                display: block;
                            }
                        }
                        .nav-button-transportation{
                            background-image: url(../../assets/car-nav.png);
                            &:hover .nav-transportation-button-description{
                                display: block;
                            }
                        }
                        >div{
                            display: none;
                            position: absolute;
                            background-color: black;
                            left: 45px;
                            height: 45px;
                            line-height: 45px;
                            padding: 0 10px;
                        }
                        .nav-like-button-description {
                            top: 0px;
                        }
                        .nav-food-button-description {
                            top:45px;
                        }
                        .nav-hotels-button-description {
                            top:90px;
                        }
                        .nav-transportation-button-description {
                            top: 135px;
                        }
                    }
                    .nav-item-1 {
                        &:hover .nav-like-button-description{
                            display: block;
                        }
                    }
                    .nav-item-2 {
                        &:hover .nav-food-button-description{
                            display: block;
                        }
                    }
                    .nav-item-3 {
                        &:hover .nav-hotels-button-description{
                            display: block;
                        }
                    }
                    .nav-item-4 {
                        &:hover .nav-transportation-button-description{
                            display: block;
                        }
                    }
                }
                .margin-top {
                    margin-top: -180px;
                }
            }
            .article-page-main-img {
                width: 100%;
                margin-top: 30px;
            }
            .article-page-main-img-wrapper {
                display: flex;
                gap: 0 10px;
                .article-page-main-img-wrapper-item {
                    img{
                        height: 100%;
                    }
                }
            }
            .article-page-main-header {
                font-family: 'Poppins', sans-serif;
                font-size: 28px;
                font-weight: 600;
                margin-top: 50px;
                margin-bottom: 30px;
                >span {
                    text-transform: capitalize;
                }
            }
            .article-page-main-medium-header {
                font-family: 'Poppins', sans-serif;
                font-size: 21px;
                font-weight: 600;
                margin-top: 50px;
                margin-bottom: 30px;
            }
            .quote {
                display: flex;
                gap: 0px 60px;
                margin-top: 40px;
                .vertical-line {
                    min-width: 5px;
                    background-color: #886ac3;
                }
                .quote-content {
                    margin-right: 40px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    >p:nth-child(1) {
                        font-family: 'Poppins', sans-serif;
                        font-size: 21px;
                        font-weight: 600;
                    }
                    >p:nth-child(2) {
                        font-size: 13px;
                        font-weight: 400;
                        margin-top: 20px;
                    }
                }
            }
            ul{
                list-style: inside;
            }
            ol {
                list-style: decimal;
            }
            ul, ol{
                margin-left: 30px;
                margin-top: 20px;
            }
            .article-page-main-list {
                margin-bottom: 100px;
            }
            .article-page-main-comment-btn {
                position: absolute;
                right: 40px;
                bottom: 40px;
                height: 25px;
                width: 25px;
                background: white;
                background-image: url(../../assets/comment-img.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border: none;
                cursor: pointer;
            }
            .like {
                position: absolute;
                right: 0px;
                bottom: 40px;
                background: white;
                padding: 0;
                width: 25px;
                height: 25px;
                border: none;
                cursor: pointer;
                img{
                    width: 100%;
                }
            }
            .article-page-main-underline {
                height: 5px;
                width: 100%;
                background-color: black;
                margin: 50px 0px;
            }
            .article-page-main-author {
                background-color: #f3f5f6;
                margin: 30px 0px;
                padding: 50px;
                .article-page-main-author-wrapper {
                    display: flex;
                    gap: 30px;
                    .author-img {
                        width: 130px;
                        height: 130px;
                        img{
                            height: 100%;
                        }
                    }
                    .author-content {
                        .author-name {
                            font-family: 'Poppins', sans-serif;
                            font-size: 24px;
                            font-weight: 600;
                        }
                        .author-links {
                            margin-top: 20px;
                            button{
                                width: 30px;
                                height: 30px;
                                margin-right: 10px;
                                border: none;
                                background: #f3f5f6;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 70%;
                                cursor: pointer;
                                transition: .3s all;
                            }
                            button:nth-child(1) {
                                background-image: url(../../assets/twitter-img-article.png);
                                &:hover {
                                    background-image: url(../../assets/twitter-img-article-hovered.png);
                                }
                            }
                            button:nth-child(2) {
                                background-image: url(../../assets/facebook-img-article.png);
                                &:hover {
                                    background-image: url(../../assets/facebook-img-article-hovered.png);
                                }
                            }
                            button:nth-child(3) {
                                background-image: url(../../assets/instagram-img-article.png);
                                &:hover {
                                    background-image: url(../../assets/instagram-img-article-hovered.png);
                                }
                            }
                            button:nth-child(4) {
                                background-image: url(../../assets/pinterest-img-article.png);
                                &:hover {
                                    background-image: url(../../assets/pinterest-img-article-hovered.png);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.bold-text {
    font-weight: 800;
}

// Tablet
@media(max-width: 992px) {
    .article-page {
            .article-page-header {
                height: 530px;
                .article-page-header-content {
                    top: 180px;
                    >p{
                        font-size: 32px;
                    }
                }
            }
            .article-header-dark {
                height: 530px;
            }
            .article-page-main {
                flex-direction: column;
                .sidebar-desktop {
                    display: none;
                }
                .sidebar-tablet{
                    display: block;
                    .sidebar {
                        width: 100%;
                    }
                }
            }
        }
}

// Mobile
@media(max-width: 576px) {
    .article-page{
        .article-page-header {
            height: 500px;
            .article-page-header-content {
                top: 170px;
                >p{
                    font-size: 24px;
                }
                .article-page-header-content-info {
                    font-size: 11px;
                }
            }
        }
        .article-page-main {
            margin-left: -15px;
            margin-right: -15px;
            padding: 30px;
            .article-page-main-center {
                .article-page-main-header {
                    font-size: 24px;
                    margin-top: 30px;
                }
                .article-page-main-medium-header {
                    margin-top: 30px;
                }
                .quote {
                    gap: 0 30px;
                    .quote-content {
                        margin-right: 10px;
                        >p:nth-child(1) {
                            font-size: 18px;
                        }
                        >p:nth-child(2) {
                            font-size: 13px;
                            font-weight: 400;
                            margin-top: 20px;
                        }
                    }
                }
                ul{
                    margin-left: 0px;
                    margin-top: 10px;
                }
                ol{
                    margin-left: 13px;
                }
                .article-page-main-author {
                    padding: 20px;
                    .article-page-main-author-wrapper {
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
    }
}