.articles-page-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 0px;
    gap: 40px;
    font-family: 'Heebo', sans-serif;
}
.articles-page-item{
    box-shadow: 0 5px 32px -5px rgb(35 55 100 / 10%);
    border-radius: 5px;
    text-align: center;
}
.articles-page-item:hover img{
    transform: scale(105%);
}

// Tablet
@media(max-width: 992px) {
    .articles-page-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

// Mobile
@media(max-width: 576px) {
    .articles-page-wrapper{
        grid-template-columns: 100%;
    }
}