.not-exist-page {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: white;
    margin-top: -101px;
    .not-exist-page-header {
        height: 100px;
        background-image: linear-gradient(45deg, #591998, #981e8d);
    }
    .not-exist-page-img {
        margin: 50px auto 20px;
        height: 250px;
        width: 250px;
        img{
            width: 100%;
        }
    }
    .not-exist-page-content {
        font-size: 42px;
        padding-bottom: 40px;
    }
}