.page-header {
    height: 370px;
    background-image: linear-gradient(45deg, #591998, #981e8d);
    margin-top: -101px;
    >p{
        text-align: center;
        padding-top: 185px;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 56px;
        font-weight: 600;
    }
}

// Mobile
@media(max-width: 576px) {
    .page-header{
        >p{
            font-size: 40px;
        }
    }
}