.slick-slider {
    line-height: normal;
    background: white;
    &:hover .slick-arrow {
        opacity: 1;
        visibility: visible;
    }
    &:hover .sliderButton {
        background-color: white;
        color: black;
        border-color: black;
    }
}

.slider {
    overflow: hidden;
    .slider-bg{
        height: 100%;
        transform: scale(1);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slider-hover {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(1, 1, 1, 0.4);
    }
    .slider-content{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        height: auto;
        width: 1000px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.slick-active{
    .slider-content{
        z-index: 10;
        transition: 1s all;
        .topText{
            opacity: 1;
            transition-delay: 300ms;
        }
        .mainText{
            opacity: 1;
            transition-delay: 600ms;
        }
        .bottomText{
            opacity: 1;
            transition-delay: 900ms;
        }
        .sliderButton{
            opacity: 1;
        }
    }
}
.slick-active {
    .slider {
        .slider-bg{
            transition: 5s ease-in-out;
            transform: scale(1.2);
        }
    }
}

.first-slide {
    .slider-bg {
        background-image: url(../../../public/images/slider-bg-1.jpg);
    }
}
.second-slide {
    .slider-bg {
        background-image: url(../../../public/images/slider-bg-2.jpg);
    }
}
.third-slide {
    .slider-bg {
        background-image: url(../../../public/images/slider-bg-3.jpg);
    }
}
.fourth-slide {
    .slider-bg {
        background-image: url(../../../public/images/slider-bg-4.jpg);
    }
}

.slick-arrow {
    opacity: 0;
    visibility: hidden;
}

.slick-prev:before,.slick-next:before {
    opacity: 1;
    font-size: 40px;
}
.slick-prev, .slick-next {
    transition: .3s all;
}
.slick-prev {
    left: 20px;
    z-index: 1;
}
.slick-next {
    right: 35px;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    opacity: 0.75 !important;
}


// Tablet
@media(max-width: 992px) {
    .slider {
        .slider-content{
            max-width: 500px;
        }
    }
}

// mobile
@media(max-width: 576px){
    .slider {
        .slider-content{
            max-width: 300px;
        }
    }
}
