.articles {
    padding: 60px 0;
    text-align: center;
    background: white;
    .articles-header {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 21px;
        font-weight: 600;
    }
    .articles-wrapper {
        padding: 40px 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        // height: 3820px;
        gap: 30px 60px;
        a{
            text-decoration: none;
            color: black;
        }
    }
    .articles-btn {
        color: white;
        background-color: black;
        border: none;
        border-radius: 50px;
        height: 40px;
        padding: 0 30px;
        text-transform: uppercase;
        font-family: 'Heebo', sans-serif;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.1em;
        transition: .3s all;
        cursor: pointer;
        &:hover {
            transform: translateY(3px);
        }
    }
}

// Laptop
@media(max-width: 1200px) {
    .articles {
        .articles-wrapper {
            gap: 30px 30px;
        }
    }
}

// Tablet
@media(max-width: 992px) {
    .articles{
        .articles-wrapper{
            height: 5664px;
            gap: 30px 15px;
        }
    }
}

@media(max-width: 635px) {
    .articles{
        .articles-wrapper{
            height: 5400px;
        }
    }
}  


// Mobile
@media(max-width: 576px) {
    .articles {
        padding: 30px 0;
        .articles-wrapper{
            height: auto;
            flex-wrap: nowrap;
        }
    }
}