.articles {
    padding: 60px 0;
    text-align: center;
    background: white;
    .articles-header {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 21px;
        font-weight: 600;
    }
    .articles-wrapper {
        padding: 40px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 30px 60px;
        a{
            text-decoration: none;
            color: black;
        }
        .articles-tablet-wrapper {
            display: none;
        }
    }
    .articles-btn {
        color: white;
        background-color: black;
        border: none;
        border-radius: 50px;
        height: 40px;
        padding: 0 30px;
        text-transform: uppercase;
        font-family: 'Heebo', sans-serif;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.1em;
        transition: .3s all;
        cursor: pointer;
        &:hover {
            transform: translateY(3px);
        }
    }
    .active-btn {
        background-color: transparent;
        color: gainsboro;
        border: 2px solid gainsboro;
    }
}

// Laptop
@media(max-width: 1200px) {
    .articles {
        .articles-wrapper {
            gap: 30px 30px;
            justify-content: center;
            .articles-desktop-wrapper {
                display: none;
            }
            .articles-tablet-wrapper {
                display: block;
            }
        }
    }
}

// Mobile
@media(max-width: 576px) {
    .articles {
        padding: 30px 0;
        .articles-wrapper{
            gap: 0;
        }
    }
}