* {
    box-sizing: border-box;
}
body{
    font-family: 'Heebo', sans-serif;
}
::selection{
    color: white;
    background: #886ac3;
}

@import 'reset';

.container {
    width: 1380px;
    margin: 0 auto;
    padding: 0 30px;
}
.row{
    display: flex;
}

@media(max-width: 1500px) {
    .container {
        width: 1200px;
    }
}

@media(max-width: 1200px) {
    .container {
        width: 100%;
    }
}
