.footer-mailing-list {
    background-image: url(../../assets/mailing-list-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: fixed;
    height: 500px;
    width: 100%;
    bottom: 0;
    z-index: -1;
    .mailing-wrapper {
        text-align: center;
        padding: 133px 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1.5fr 1fr 1fr;
        justify-items: center;
        .mailing-header{
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            font-weight: 600;
        }
        .mailing-text {
            font-size: 14px;
            margin-top: 30px;
            margin-bottom: 25px;
        }
        .mailing-input {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 100%;
            gap: 10px;
            margin-bottom: 10px;
            input{
                height: 42px;
                width: 100%;
                outline: none;
                padding: 0 15px;
                margin-right: 10px;
            }
            .color-btn{
                width: 150px;
                justify-self: center;
            }
        }
        .checkbox-label {
            font-size: 14px;
            opacity: 0.75;
            transition: .3s all;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
}
.footer-mailing-list-bg {
        margin-bottom: 500px;
        z-index: -10;
}

// Tablet
@media(max-width: 992px) {
    .footer-mailing-list {
        .mailing-wrapper {
            align-items: center;
            .mailing-text {
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .mailing-chackbox {
                align-self: flex-start;
            }
        }
    }
}

// Mobile
@media(max-width: 576px) {
    .footer-mailing-list {
        height: 380px;
        .mailing-wrapper {
            grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
            justify-items: normal;
            padding: 17px 0;
            .mailing-header{
                font-size: 24px;
            }
            .mailing-input{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }
        }
    }
    .footer-mailing-list-bg {
        margin-bottom: 380px;
}

}