
@mixin subMenu($top, $left) {
    display: none;
    position: absolute;
    top: $top;
    left: $left;
    width: 200px;
    height: auto;
    background-color: #212121;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .5s all;
    font-family: 'Heebo', sans-serif;
}

.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 50;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    .container{
        position: relative;
    }
}
.header-content {
    height: 100px;
    display: grid;
    grid-template-columns: 1.5fr 3fr 120px;
    grid-template-rows: 100%;
    align-items: center;
    .logo {
        width: 170px;
        height: 54px;
        img{
            width: 100%;
        }
    }
    .header-menu{
        height: 100%;
        .header-menu-content{
            height: 100%;
            >li{
                text-decoration: none;
                font-family: 'Heebo', sans-serif;
                font-weight: bold;
                font-size: 0.8125rem;
                letter-spacing: 1px;
                padding-left: 15px;
                padding-right: 15px;
                color: white;
                display: block;
                line-height: 100px;
                cursor: pointer;
                z-index: 40;
                .underline {
                    position: absolute;
                    bottom: 35px;
                    left: 0px;
                    height: 1px;
                    width: 100%;
                    background-color: white;
                }
                >div{
                    transition: .5s all;
                }
                >div:first-child:hover {
                    opacity: 0.75;
                }
            }
            .menu-item-name{
                >a{
                    display: block;
                    height: 100%;
                }
            }
            .home{
                position: relative;
                &:hover .home-sub-menu {
                    opacity: 1;
                    display: block;
                }
                .home-sub-menu {
                    @include subMenu(100px, -15px);
                    li{
                        line-height: normal;
                        padding: 10px 30px;
                        transition: .5s all;
                    }
                    .home-sub-menu-item{
                        transition: .5s all;
                        &:hover {
                            opacity: 0.75;
                        }
                    }
                    .sub-item-featured {
                        background-image: url(../../assets/arrow-right.png);
                        background-position: 93%;
                        background-repeat: no-repeat;
                        background-size: 6%;
                        position: relative;
                        transition: .5s all;
                        .sub-sub-menu-featured{
                            @include subMenu(0px, 200px);
                            width: 220px;
                            background-color: #292929;
                            li{
                                transition: .5s all;
                                &:hover{
                                    opacity: 0.75;
                                }
                            }
                        }
                        &:hover .sub-sub-menu-featured{
                            display: block;
                        }
                        &:hover {
                            background-image: url(../../assets/arrow-right-hover.png);
                        }
                    }
                }
            }
            .destinations{
                .destinations-hover{
                    @include subMenu(100px, 0px);
                    width: 100%;
                    color: white;
                    padding-left: 15px;
                    padding-right: 15px;
                    line-height: normal;
                    transition: .5s all;
                    .destinations-tabs {
                        justify-content: space-between;
                        .react-tabs{
                            display: flex;
                        }
                    }
                    .tab-title-items {
                        border-right: 1px solid #393939;
                        width: 230px;
                        padding: 10px 15px;
                        .tab-title-item{
                            cursor: pointer;
                            padding-left: 10px;
                            padding-bottom: 5px;
                            padding-top: 5px;
                            &:hover {
                                background-color: #393939;
                            }
                        }
                        .react-tabs__tab--selected {
                            background-color: #393939;
                            outline: none;
                        }
                    }
                    .tab-container{
                        .tab-content{
                            justify-content: space-around;
                            .article-preview{
                                max-width: 315px;
                            }
                        }
                    }
                }
                &:hover .destinations-hover{
                    display: block;
                }
            }
            .guides {
                .guides-hover {
                    @include subMenu(100px, 0px);
                    width: 100%;
                    color: white;
                    justify-content: space-around;
                    padding-left: 15px;
                    padding-right: 15px;
                    line-height: normal;
                }
                &:hover .guides-hover{
                    display: flex;
                }
            }
            .features {
                .features-hover {
                    @include subMenu(100px, 0px);
                    width: 100%;
                    li{
                        line-height: 36px;
                        font-weight: 400;
                        transition: .5s all;
                        &:hover{
                            opacity: 0.75;
                        }
                    }
                    .features-logo {
                        font-weight: 700;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }
                &:hover .features-hover{
                    display: flex;
                    justify-content: space-evenly;
                }
            }
            .elements{
                position: relative;
                &:hover .elements-sub-menu {
                    display: block;
                }
                .elements-sub-menu {
                    @include subMenu(100px, -15px);
                    li{
                        line-height: normal;
                        padding: 10px 30px;
                        transition: .5s all;
                        &:hover{
                            opacity: 0.75;
                        }
                    }
                }
            }
            .pages{
                position: relative;
                &:hover .pages-sub-menu {
                    display: block;
                }
                .pages-sub-menu {
                    @include subMenu(100px, -15px);
                    li{
                        line-height: normal;
                        padding: 10px 30px;
                        transition: .5s all;
                        &:hover{
                            opacity: 0.75;
                        }
                    }
                }
            }
            .shop{
                position: relative;
                &:hover .shop-sub-menu {
                    display: block;
                }
                .shop-sub-menu {
                    @include subMenu(100px, -15px);
                    li{
                        line-height: normal;
                        padding: 10px 30px;
                        transition: .5s all;
                        &:hover{
                            opacity: 0.75;
                        }
                    }
                }
            }
            .menu-item-name {
                position: relative;
            }
        }
    }
    .header-buttons {
        .cart {
            width: 40px;
            height: 40px;
            background-image: url(../../assets/cart.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
            cursor: pointer;
            transition: .5s all;
            &:hover {
                background-image: url(../../assets/cart-hover.png);
            }
        }
        .search {
            width: 40px;
            height: 40px;
            background-image: url(../../assets/search.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
            cursor: pointer;
            transition: .5s all;
            &:hover {
                background-image: url(../../assets/search-hover.png);
            }
        }
        .menu {
            width: 40px;
            height: 40px;
            background-image: url(../../assets/dots.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
            cursor: pointer;
            transition: .5s all;
            &:hover {
                background-image: url(../../assets/dots-hover.png);
            }
        }
        .burger-menu {
            display: none;
        }
    }
}

.header-content {
    .header-menu{
        .header-menu-content{
            >li{
                .active{
                    .underline{
                        display: block;
                    }
                }
            }
        }
    }
}
.header-content {
    .header-menu{
        .header-menu-content{
            >li{
                .notActive{
                    .underline{
                        display: none;
                    }
                }
            }
        }
    }
}


.show-tab{
    display: flex;
}
.hide {
    display: none;
}
.active {
    color: white;
    text-decoration: none;
}
.notActive{
    text-decoration: none;
    color: white;
}

// Laptop
@media(max-width: 1200px) {

}

// Tablet
@media(max-width: 992px) {
    .header-content {
        grid-template-columns: 1fr 120px;
        .header-menu{
            display: none;
        }
    }
}

// mobile
@media(max-width: 576px) {
    .header-content{
        grid-template-columns: 1fr 50px;
        .header-buttons{
            justify-content: flex-end;
            .cart{
                display: none;
            }
            .search {
                display: none;
            }
            .menu{
                display: none;
            }
            .burger-menu {
                display: block;
                position: relative;
                width: 30px;
                height: 25px;
                span:nth-child(1) {
                    position: absolute;
                    top: 0;
                    background-color: white;
                    width: 100%;
                    height: 2px;
                }
                span:nth-child(2) {
                    position: absolute;
                    top: 12px;
                    background-color: white;
                    width: 100%;
                    height: 2px;
                }
                span:nth-child(3) {
                    position: absolute;
                    bottom: 0;
                    background-color: white;
                    width: 100%;
                    height: 2px;
                }
            }
        }
    }
}